@font-face {
    font-family: vagrounded;
    src: url(../font/VAG_Bold.TTF);
}
.vag-font{font-family: vagrounded;}
/* Template-specific stuff
 *
 * Customizations just for the template; these are not necessary for anything
 * with disabling the responsiveness.
 */

/* Account for fixed navbar */
body {
  padding-top: 55px;
  padding-bottom: 0px;
  background: #fbca19 url('../img/bg-body.jpg') center bottom no-repeat;
}

body,
.navbar-fixed-top,
.navbar-fixed-bottom {
  min-width: 810px;
}

/* Don't let the lead text change font-size. */
.lead {
  font-size: 16px;
}

/* Finesse the page header spacing */
.page-header {
  margin-bottom: 30px;
}
.page-header .lead {
  margin-bottom: 10px;
}


/* Non-responsive overrides
 *
 * Utilitze the following CSS to disable the responsive-ness of the container,
 * grid system, and navbar.
 */

/* Reset the container */
.container {
  width: 810px;
  max-width: none !important;
}

/* Demonstrate the grids */
.container .navbar-header,
.container .navbar-collapse {
  margin-right: 0;
  margin-left: 0;
}

/* Always float the navbar header */
.navbar-header {
  float: left;
}

/* Undo the collapsing navbar */
.navbar-collapse {
  display: block !important;
  height: auto !important;
  padding-bottom: 0;
  overflow: visible !important;
  visibility: visible !important;
}

.navbar-toggle {
  display: none;
}
.navbar-collapse {
  border-top: 0;
}

.navbar-brand {
  margin-left: -15px;
}

/* Always apply the floated nav */
.navbar-nav {
  float: left;
  margin: 0;
}
.navbar-nav > li {
  float: left;
}
.navbar-nav > li > a {
  padding: 15px;
}

/* Redeclare since we override the float above */
.navbar-nav.navbar-right {
  float: right;
}

/* Undo custom dropdowns */
.navbar-default{
    background-color: transparent;
    border-color: transparent;
}
.navbar .navbar-nav .open .dropdown-menu {
  position: absolute;
  float: left;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-width: 0 1px 1px;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #333;
}
.navbar .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar .navbar-nav .open .dropdown-menu > li > a:focus,
.navbar .navbar-nav .open .dropdown-menu > .active > a,
.navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #fff !important;
  background-color: #428bca !important;
}
.navbar .navbar-nav .open .dropdown-menu > .disabled > a,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:focus {
  color: #999 !important;
  background-color: transparent !important;
}

/* Undo form expansion */
.navbar-form {
  float: left;
  width: auto;
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 0;
  margin-left: 0;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* Copy-pasted from forms.less since we mixin the .form-inline styles. */
.navbar-form .form-group {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}

.navbar-form .form-control {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}

.navbar-form .form-control-static {
  display: inline-block;
}

.navbar-form .input-group {
  display: inline-table;
  vertical-align: middle;
}

.navbar-form .input-group .input-group-addon,
.navbar-form .input-group .input-group-btn,
.navbar-form .input-group .form-control {
  width: auto;
}

.navbar-form .input-group > .form-control {
  width: 100%;
}

.navbar-form .control-label {
  margin-bottom: 0;
  vertical-align: middle;
}

.navbar-form .radio,
.navbar-form .checkbox {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: middle;
}

.navbar-form .radio label,
.navbar-form .checkbox label {
  padding-left: 0;
}

.navbar-form .radio input[type="radio"],
.navbar-form .checkbox input[type="checkbox"] {
  position: relative;
  margin-left: 0;
}

.navbar-form .has-feedback .form-control-feedback {
  top: 0;
}

/* CUSTOM CSS */
.h1, .h2, .h3, h1, h2, h3{margin: 0;}
.font-12{font-size: 12px;font-weight: bold;}
/* CAROUSEL */
.carousel {
    margin-bottom: 0;
    padding: 0 40px 0 40px;
    margin-top: 35px;
}
/* The controlsy */
.carousel-control {
  left: -15px;
  height: 65px;
  width: 40px;
  background: none repeat scroll 0 0 #a40e12;
  border: 4px solid #FFFFFF;
  margin-top: 25px;
  border-radius: 0px 15px 15px 0px;
  -moz-border-radius: 0px 15px 15px 0px;
  -webkit-border-radius: 0px 15px 15px 0px;
  border: 0px solid #000000;
  filter: alpha(opacity=80);
  opacity: .8;
}
.carousel-control.right {
  right: -15px;
  border-radius: 15px 0px 0px 15px;
  -moz-border-radius: 15px 0px 0px 15px;
  -webkit-border-radius: 15px 0px 0px 15px;
  border: 0px solid #000000;
}
/* The indicators */
.carousel-indicators {
  right: 50%;
  top: auto;
  bottom: -10px;
  margin-right: -19px;
}
/* The colour of the indicators */
.carousel-indicators li {
  background: #cecece;
}
.carousel-indicators .active {
background: #428bca;
}
.nav-carousel{margin-top: 12px;}
@media(min-width: 992px){
  .col-md-3 {
    width: 20%;
  }
}
/* GRADIENT */
.navbar-default .navbar-collapse{
  border-bottom-color: #800000;
}
.bg-mm{
  background: rgba(0,147,220,1);
  background: -moz-linear-gradient(top, rgba(0,147,220,1) 0%, rgba(0,108,180,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,147,220,1)), color-stop(100%, rgba(0,108,180,1)));
  background: -webkit-linear-gradient(top, rgba(0,147,220,1) 0%, rgba(0,108,180,1) 100%);
  background: -o-linear-gradient(top, rgba(0,147,220,1) 0%, rgba(0,108,180,1) 100%);
  background: -ms-linear-gradient(top, rgba(0,147,220,1) 0%, rgba(0,108,180,1) 100%);
  background: linear-gradient(to bottom, rgba(0,147,220,1) 0%, rgba(0,108,180,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0093dc', endColorstr='#006cb4', GradientType=0 );
  border-radius: 0px 0px 10px 10px;
  -moz-border-radius: 0px 0px 10px 10px;
  -webkit-border-radius: 0px 0px 10px 10px;
  border: 0px solid #000000;
  border-bottom: solid 3px;
}
.navbar-default .navbar-nav>li>a{
  color: #fff;
  font-weight: bold;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover
{
  /*background-color: #006fb1;*/
  background-color: transparent;
  color: #000;
}
.bg-yellow{
  background: transparent url('../img/bg-yellow.jpg') center 27px repeat-x;
  margin-bottom: 65px;
}
.col-xs-7{position: relative;}
.baby-mesin{
  position: absolute;
  right: -15px;
  bottom: -70px;
}
.baby-mom{
  margin-top: 0;
}
.mobil-brio{
  margin-top: -135px;
  margin-left: -35px;
}
.bg-pink{
  border-radius: 10px 0px 0px 10px;
  -moz-border-radius: 10px 0px 0px 10px;
  -webkit-border-radius: 10px 0px 0px 10px;
  border: 0px solid #000000;
  background-color: #ec008c;
  color: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: -60px;
}
.note{
  font-size: 8px;
}
.dapatkan-hadiah{margin-top: -12px;}
.main-menu{width: 600px;}
.stroke{
  -webkit-text-stroke: 1px #760042;
}
.mekanisme-body{
  border-radius: 0px 0px 30px 30px;
  -moz-border-radius: 0px 0px 30px 30px;
  -webkit-border-radius: 0px 0px 30px 30px;
  border: 15px solid #AAE1F7;
  border-top: 0px solid #AAE1F7;
  margin-top: -13px;
  margin-left: 20px;
  margin-right: 20px;
  background: #fff;
  padding: 20px;
}
.form-horizontal .control-label{
  text-align: left;
  color: #AAE1F7;
  font-weight: normal;
}
.form-control{
  border-color: #AAE1F7;
}
.cari-foto{
  text-align: center;
  color: #fff;
}
.cari-foto div{
margin-bottom: 10px;}
.submit-color{
  background: rgba(195,220,71,1);
  background: -moz-linear-gradient(top, rgba(195,220,71,1) 0%, rgba(77,110,25,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(195,220,71,1)), color-stop(100%, rgba(77,110,25,1)));
  background: -webkit-linear-gradient(top, rgba(195,220,71,1) 0%, rgba(77,110,25,1) 100%);
  background: -o-linear-gradient(top, rgba(195,220,71,1) 0%, rgba(77,110,25,1) 100%);
  background: -ms-linear-gradient(top, rgba(195,220,71,1) 0%, rgba(77,110,25,1) 100%);
  background: linear-gradient(to bottom, rgba(195,220,71,1) 0%, rgba(77,110,25,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3dc47', endColorstr='#4d6e19', GradientType=0 );
  border: 0px solid #000000;
  border-bottom: solid 3px;
  -webkit-text-stroke: 2px #006838;
  font-weight: bold;
  font-size: 26px;

  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #000000;
}
.cari-foto-color{
  background: rgba(255,238,0,1);
  background: -moz-linear-gradient(top, rgba(255,238,0,1) 0%, rgba(255,165,29,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,238,0,1)), color-stop(100%, rgba(255,165,29,1)));
  background: -webkit-linear-gradient(top, rgba(255,238,0,1) 0%, rgba(255,165,29,1) 100%);
  background: -o-linear-gradient(top, rgba(255,238,0,1) 0%, rgba(255,165,29,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,238,0,1) 0%, rgba(255,165,29,1) 100%);
  background: linear-gradient(to bottom, rgba(255,238,0,1) 0%, rgba(255,165,29,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffee00', endColorstr='#ffa51d', GradientType=0 );
  border: 0px solid #000000;
  border-bottom: solid 3px;
  -webkit-text-stroke: 2px #760042;
  font-weight: bold;
  font-size: 26px;

  border-radius: 30px 30px 30px 30px;
  -moz-border-radius: 30px 30px 30px 30px;
  -webkit-border-radius: 30px 30px 30px 30px;
  border: 0px solid #000000;
}
.sub-mekanisme{
  border-radius: 0px 0px 10px 10px;
  -moz-border-radius: 0px 0px 10px 10px;
  -webkit-border-radius: 0px 0px 10px 10px;
  border: 0px solid #000000;
  margin-top: -20px;
  margin-bottom: 50px;
}
.pembatas{
  background: transparent url('../img/pembatas.png') right top no-repeat;
  padding-right: 35px;
}
.mekanisme-body .col-xs-4{text-align: center;}
.mekanisme-body ul{
  list-style-type: disc;
  text-align: left;
  margin-left: -25px;
}
.sub-mekanisme ul a{
  color: #fff; 
  text-align: center; 
  font-size: 22px;
}
.sub-mekanisme ul a:hover{background: #7ba02e;}
.sub-mekanisme ul{
  margin-left: 0;
}